@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	list-style-type: none;/*去除标题黑点*/
	text-decoration: none;
}
body {
	margin: auto;
	max-width: 1000px;
}
header {
	max-width: 100%;
	height: 104px;
	position: relative;
	background-image: url(images/beijing.png);
	margin: -12px;
}
.xianone {
	width: 100%;
}
.logo {
	padding-top: 25px;
	padding-left: 20px;
	float: left;
}
.denglu {
	margin-top: 0%;
	padding-top: 4%;
	margin-left: 80%;
}
.denglu ul li {
	width: 80px;
	height: 20px;
	float: left;
}
.denglu ul li a {
	color: #505050;
	padding-left: 20px;
	font-family: "微软雅黑", "宋体";
	float: left;
}
.ztbt {
	font-family: "宋体";
	font-size: 14px;
	color: #acb4b6;
	text-align: center;/* 文本居中*/
	margin-top: 38px;
}
.zhuti {
	max-width: 1000px;
	width: auto;
	height: auto;
}
.zhuti ul li {
	float: left;
	padding-left: 15px;
	padding-top: 15px;
}
footer {
	max-width: 1000px;
	width: auto;
	height: auto;
	color: #cccccc;
	display: block;
	min-width: 240px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 1%;
}
.shengming {
	width: 55%;
	height: auto;
	float: left;
	padding-top: 10px;
}
.fulogo {
	width: auto;
	float: left;
}
.wenzi {
	width: 77%;
	float: left;
}
.shengming p {
	font: 12px;
	font-family: "宋体";
}
.banquan {
	width: 30%;
	height: auto;
	float: left;
	text-align: right;
	padding-top: 10px;
}
.table{background:#b2d235;}
.button{font-size:12px;height:23;background:#ece9d8;border-width:1;}
#linkurl,#linkname,#savelink{width:100px;}